// Clearfix Utility




// Dependencies
//   Settings.Default




// Options

$iota-clearfix            : true;
$iota-clearfix-namespace  : 'cf' !default;




.#{$iota-utility-namespace}#{$iota-clearfix-namespace}:after,
%#{$iota-utility-namespace}#{$iota-clearfix-namespace}:after {
  content: "";
  display: table;
  clear: both;
}
