// Clearfix Utility




// Dependencies
//   Settings.Default




// Options

$iota-clearfix: true;




.#{$iota-utility-namespace}cf:after,
%#{$iota-utility-namespace}cf:after {
  content: "";
  display: table;
  clear: both;
}
